<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="https://kit.fontawesome.com/698397da51.js" crossorigin="anonymous"></script>
    </head>
    <body>
       <div id="header">
        <img src="../static/Image/logo1.png" id="logo">
        <p id="logo_name">Hand Gesture</p>
        <ul id="logo_list">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('introduction')}}">Introduction</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('signup')}}">Sign up <i class="fa-solid fa-circle-user"></i></a></li>
        </ul>
       </div> 
       <div id="main">
       <div id="img"> <p><br><br><br><br><br><br><b>SIGN LANGUAGE</b><br>Sign languages (also known as signed languages) are languages that use the<br> visual-manual modality to convey meaning, instead of just spoken words.<br> Sign languages are expressed through manual articulation in combination with <br>non-manual markers <a href="{{url_for('signin')}}">more about</a>...</p></div>
       <div class="flex-container">
       <div class="pdiv" id="pdiv1">
        <p id="bdiv1"><span><b>WHAT?</b></span><br><br> Sign language is a natural and visual form of language that uses movements and expression to convey meaning between people. Sign language is a non-verbal language that Deaf persons exclusively count on to connect with their social environment. It is based on visual cues through the hands, eyes, face, mouth, and body <a href="{{url_for('introduction')}}"><b>more about...</b></a></p>
       </div>
       <div class="pdiv" id="pdiv2">
        <p id="bdiv2"><span><b>WHY?</b></span><br><br>  Although signing is used primarily by the deaf and hard of hearing, it is also used by hearing individuals, such as those unable to physically speak, those who have trouble with oral language due to a disability or condition ,alternative communication and those with deaf family members including children of deaf adults <a href="{{url_for('introduction')}}"><b>more about...</b></a></p>
       </div>
       <div class="pdiv" id="pdiv3">
        <p id="bdiv3"><span><b>WHERE?</b></span><br><br>Sign language is manual communication commonly used by people who are deaf. Sign language is not universal; people who are deaf from different countries speak different sign languages. The gestures or symbols in sign language are organized in a linguistic way.ASL is the most widely-used sign language around the world <a href="{{url_for('introduction')}}"><b>more about...</b></a></p>
       </div>
       </div>
       <div id="main_signin">
        <p id="main_p">FOR UNDERSTANDING THE SIGNS <a href="{{url_for('signin')}}">SIGN IN</a>...</p><br>
        <p id="main_p">KNOW MORE ABOUT SIGNS <a href="{{url_for('introduction')}}">INFORMATION</a>...</p><br>
        <p id="main_p">KNOW MORE ABOUT CREATORS <a href="{{url_for('about')}}">ABOUT</a>...</p><br>
       </div>
        </div>
       <div id="footer">
        <img src="../static/Image/logo1.png" id="footer_logo">
        <p id="footer_logo_name">Hand Gesture</p>
        <ul id="footer_list">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('introduction')}}">Introduction</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('signup')}}">Sign up<i class="fa-solid fa-circle-user"></i></a></li>
        </ul>
        <a class="footer_logo_link" href="https://mail.google.com/mail/u/0/?hl=en-GB&tf=cm&fs=1&to=harishpmkumar2002@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a>
        <a class="footer_logo_link" href="https://www.facebook.com/hk1805/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a class="footer_logo_link" href="https://twitter.com/HarishJ42412044" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a class="footer_logo_link" href="https://www.linkedin.com/in/harish-kumar-894b65225" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a class="footer_logo_link" href="https://instagram.com/h_k_2_0_0_2?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="footer_logo_link" href="https://github.com/IBM-EPBL/IBM-Project-48113-1660804618" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a id="copyright"><i class="fa-solid fa-copyright"></i>copyright Hand Gesture 2022</a>


       </div>
    </body>
</html>