<html>
    <head>
     <title>About Page</title>
        <link rel="stylesheet" href="../static/css/about.css">
        </head>
        <body>  
            <!--marquee the creditors name-->
                <div class="about">
                    <marquee width="50%" direction="up" height="70%">   
                        <img src="/static/Image/logo1.png" align="center">
                        <h1>HarishKumar</h1>
                        <h1>Lakshanaa Priya </h1>
                        <h1>Brintha</h1>
                        <h1>Jayaprakash</h1>
                    </marquee>      
                </div>
        </body>
</html>