<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/introduction.css">
        <script src="https://kit.fontawesome.com/698397da51.js" crossorigin="anonymous"></script>
    </head>
    <body>
       <div id="header">
        <img src="../static/Image/logo1.png" id="logo">
        <p id="logo_name">Hand Gesture</p>
        <ul id="logo_list">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('introduction')}}">Introduction</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('signup')}}">Sign up <i class="fa-solid fa-circle-user"></i></a></li>
        </ul>
       </div> 
       <div id="main">
        <h1 class="heading" >Sign Language </h1>
        <img src="../static/Image/sign 2.jpg" id="sign2">
        <br>
        <br>
        <br>
        <br>
        <br>
         <br>
         <p class="description" >Sign language is specifically the only means of communication for the hearing impaired. Sign
            language develops in deaf communities where the people are deaf or have problems with hearing.
            Sign language is delivered by simultaneously mixing hand shapes, orientation, and movements of
            hands, arms, body, and facial expressions to express the communicator’s thoughts. 
            The hand signs of each language are different, but there are signs with universal sentence structure.
            <br>
            <br>

            Sign languages require communicators to use hand gestures and facial expressions. They
            are expressed in two different signs in any forms of sign languages.
            Sign language has its own grammar, syntax, and idioms that are different with those of spoken
            languages. The usage of grammar, syntax, and idioms in sign languages is not translated from
            spoken languages. People need to learn the grammatical structures and the idioms of sign language
            when they want to communicate with sign language.
            <br>
            <br>

            People who don’t understand sign language have the misconception 
            that sign language is not a “true
            language”. In fact, professional linguists have studied many sign languages and found them to have
            contained every linguistic component needed to be classified as true languages.Sign languages (also known as signed languages) are languages that use the visual-manual modality to convey meaning, instead of just spoken words.
             Sign languages are expressed through manual articulation in combination with non-manual markers. Sign languages are full-fledged natural languages with their own grammar and lexicon.
             <br>
             <br>
              Sign languages are not universal and are usually not mutually intelligible, although there are also similarities among different sign languages.
        
            Linguists consider both spoken and signed communication to be types of natural language, meaning that both emerged through an abstract, protracted aging process and evolved over time without meticulous planning.Sign language should not be confused with body language, a type of nonverbal communication.
            <br>
            <br>
            Wherever communities of deaf people exist, sign languages have developed as useful means of communication and form the core of local Deaf cultures.
             Although signing is used primarily by the deaf and hard of hearing, it is also used by hearing individuals, such as those unable to physically speak, those who have trouble with oral language due to a disability or condition (augmentative and alternative communication), and those with deaf family members including children of deaf adults.
            <br>
            <br>
            
        </p>
<img src="../static/Image/SignLanguage.gif" id="gif">
</div>
       <div id="footer">
        <img src="../static/Image/logo1.png" id="footer_logo">
        <p id="footer_logo_name">Hand Gesture</p>
        <ul id="footer_list">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('introduction')}}">Introduction</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('signup')}}">Sign up <i class="fa-solid fa-circle-user"></i></a></li>
        </ul>
        <a class="footer_logo_link" href="https://mail.google.com/mail/u/0/?hl=en-GB&tf=cm&fs=1&to=harishpmkumar2002@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a>
        <a class="footer_logo_link" href="https://www.facebook.com/hk1805/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a class="footer_logo_link" href="https://twitter.com/HarishJ42412044" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a class="footer_logo_link" href="https://www.linkedin.com/in/harish-kumar-894b65225" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a class="footer_logo_link" href="https://instagram.com/h_k_2_0_0_2?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="footer_logo_link" href="https://github.com/IBM-EPBL/IBM-Project-48113-1660804618" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a id="copyright"><i class="fa-solid fa-copyright"></i>copyright Hand Gesture 2022</a>


       </div>
    </body>
</html>